.fa,
.far {
    font-size: 14px;
}
.x-tab.x-tab-active.x-tab-default {
    border-color: #aaa;
    background-color: #ddd;
}

.x-tab-default-top {
    border-radius: 0px;
    background-color: transparent;
}

.x-tab.x-tab-active.x-tab-default .x-tab-inner-default,
.x-tab.x-tab-active.x-tab-default .x-tab-icon-el {
    color: #000;
}

.-window-header-title-default,
.x-panel-header-title-default {
    color: #555;
}

.x-toolbar-default {
    border: none;
}
.x-btn-default-toolbar-small {
    border-radius: 0px;
    border-color: white;
    background-color: white;
}

.x-btn-icon-el-default-toolbar-small {
    padding-top: 0px;
}
.x-btn.x-btn-disabled.x-btn-default-toolbar-small {
    background-color: #fff;
    opacity: 0.35;
}

.x-grid-with-col-lines .x-grid-cell,
.x-grid-with-row-lines .x-grid-item {
    border-width: 0px;
}

.x-column-header {
    border-color: #fff;
    background-color: #f0f0f0;
    border-left-style: solid;
    color: #7e7e7e;
    font-size: 10px;
}
.x-grid-cell-special {
    border-right-width: 0px;
}
.x-grid-cell-inner-row-numberer {
    background-color: #f0f0f0;
    color: #7e7e7e;
    font-size: 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
}
.x-column-header-inner {
    padding-top: 3px;
    padding-bottom: 3px;
}
.x-grid-header-ct {
    border-color: white;
}
.x-grid-body {
    border: 0px;
}
.x-grid-with-col-lines .x-grid-cell, 
.x-grid-with-row-lines .x-grid-item {
    padding-bottom: 0px;
}

.x-grid-with-row-lines .x-grid-item:last-child {
    border-bottom-width: 0px;
}

.x-form-trigger-wrap-default {
    padding-top: 1px;
    border-width: 0px 0px 1px 0px;
}
.query-textarea .x-form-trigger-wrap-default {
    border-width: 1px;
}

.x-panel-body-default {
    border: 0px;
}
.x-tabpanel-body-default {
    border-top: 1px;
}
.x-tabpanel-child {
    border-top: 1px solid #ddd;
}
.x-btn.x-btn-disabled.x-btn-default-small {
    background-color: #999; 
}
.x-btn-default-small {
    border-color: white;
    border-radius: 0px;
    background-color: #999; 
}
.version-button {
    border-radius: 0px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}
.version-button:hover {
    cursor: pointer;
    border: 1px solid #ccc;
}
.version-button  {
    color: #999;
    padding: 0px 2px 0px 2px;
}
.version-button .x-btn-icon-el {
    margin-right: 2px;
}
.version-upgrade span {
    color: #696;
}
