name: Docker Build Test

on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set vars
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build the Docker image
        uses: docker/build-push-action@v3
        with:
          push: false
          build-args: |
            CI_COMMIT_TAG=${{ github.ref_type == 'tag' && github.ref_name || '' }}
            CI_COMMIT_REF_NAME=${{ github.ref_name }}
            CI_COMMIT_SHA=${{ github.sha }}
            CI_COMMIT_SHORT_SHA=${{ steps.vars.outputs.sha_short }}
