name: Docker Build Test

on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build the Docker image
        uses: docker/build-push-action@v3
        with:
          push: false
